@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

:root {
  font-size: 62.5%; /* 10px */

  --main-color: #0a31a8;
  --white-color: #ffffff;
}

button {
  background: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
  /*   width: 100%; */
  /*   max-width: 100%; */
}

html,
body {
  overflow-x: hidden;
}

body {
  /* 폰트 적용  */
}

input {
  list-style: none;
  /* 체크 박스 사라지게 됨 */
  -webkit-appearance: none; /* 기본 스타일 제거 */
  -moz-appearance: none; /* 기본 스타일 제거 */
  appearance: none; /* 기본 스타일 제거 */

  /* input 태그 클릭 시에 테두리 삭제 */
  outline-style: none;
}

.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.ellipsis {
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;

  display: -webkit-box;

  word-break: keep-all;
}

.ellipsis2 {
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;

  word-break: keep-all;
}

.mt-10 {
  margin-top: 1rem;
}

/* 애니메이션 (스크롤) */
@keyframes scroll-down-box-animation-arrow {
  0% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

/* header에 대한 CSS */
/* header에 스타일 fixed */
#header {
  position: fixed;
  top: 0;
  /* left 0과 right : 0을 줘도 width : 100% 와 같은 동작을 하지만 width : 100%를 준 이유가 있을거임.*/
  left: 0;
  right: 0;

  width: 100%;

  font-size: 1.8rem;

  z-index: 1000;

  background: #55f;
}

/* 헤더의 넓이를 선정. */
#header .in-header {
  position: relative;

  display: flex;
  align-items: center;

  /* 높이 지정 */
  height: 9rem;

  padding: 0 0 0 5rem;

  background: #5f5;
}

.logo-box {
  background: #ff5;

  margin-right: 20rem;
}

.logo-box .logo {
  width: 19rem;
  height: 3.3rem;

  display: block;

  background: url(../img/logo.png) no-repeat 50% / cover;
}

#header #nav {
  background: #f5f;
  height: 100%;

  /* 절대 요소로 만들고 가운데 맞춤. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 50;
}

#nav .depth1 {
  display: flex;

  align-items: center;

  /* 높이를 100%로 주지 않는다면, 크기가 작아서 헤더 위에 정렬하게 된다. */
  height: 100%;
}

#nav .depth1 > li {
  /* 절대요소의 부모가 되어 서브메뉴의 부모가 된다. */
  position: relative;
  border: 1px solid #000;
  white-space: nowrap;

  /* li에 크기를 주고 a태그도 100%를 줄 수 있도록 100%를 준다. a태그의 크기를 키워 마우스가 들어갈 수 있는 영역을 키움. */
  height: 100%;
  padding: 0 3.6rem;

  transition: padding 0.3s;
}

#nav .depth1 li > a {
  display: flex;
  align-items: center;

  height: 100%;

  font-size: 1.8rem;
}

#nav .depth1 li > a > span {
  /* 텍스트 요소에 부모 요소가 되게 하고, hover시 나오는 효과를 주기 위해서 부모 요소로 적용. */
  position: relative;

  /* line-height를 줘 가상요소 효과가 텍스트와 너무 붙지 않게 함. */
  line-height: 1.7;
}

#nav .depth1 li > a > span:before {
  content: "";
  display: block;

  position: absolute;

  /* 이 요소들의 위치들은 가운데에서 퍼지는 효과를 주기 위해서 이렇게 설정. */
  bottom: 0;
  left: 50%;

  transform: translate(-50%, 100%);

  width: 0;

  border-top: 1.5px solid #0c3659;

  transition: width 0.3s;
}

#nav .depth1 li > a > span:hover:before {
  width: 100%;
}

.utils {
  background: #f55;

  /* 유틸메뉴의 정렬은 오른쪽에 붙여서 헤더의 레이아웃을 구성 */
  display: flex;
  /*  유틸메뉴의 구성인 자식들이 가운데 정렬 */
  align-items: center;

  /*  크기를 100%로 줘 헤더의 크기에 맞게 크기를 가져감 */
  height: 100%;

  /* 오른쪽 끝으로 붙임. */
  margin-left: auto;
}

.utils .utils_btn_common {
  position: relative;
  display: flex;

  align-items: center;

  /* 크기  */
  width: 2.25rem;
  height: 100%;

  font-size: 2.25rem;
}

.utils .utils_btn_common span {
  display: block;
}

/* 본페이지에서는 유틸메뉴의 아이콘들이 svg로 선으로 구성 되어있으나, 나는 이미지로 구성 */

.utils .utils_btn_common + .utils_btn_common {
  margin-left: 3.6rem;
}

.utils .info-btn {
  width: auto;
}

.utils .info-btn .info {
  padding: 0.4rem 1.56rem;
  border: 1px solid #0c3659;

  border-radius: 2.6rem;

  color: #0c3659;

  font-size: 1.4rem;

  font-weight: 500;

  /* 줄바꿈 일어나지 않게. */
  white-space: nowrap;

  transition: all 0.3s;
}

/* hover시 효과 */
.utils .info-btn .info:hover {
  background-color: #0c3659;
  color: #fff;
}

/* 유틸매뉴의 로그인  */
.utils .login-box .login {
  background: url(../img/login-icon.svg) no-repeat 0 0 / contain;

  width: 2.25rem;
  height: 2.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.utils .login-box .login-toll {
  display: none;
}

/* 유틸메뉴의 검색 */
.utils .search-box .search {
  background: url(../img/search-icon.svg) no-repeat 0 0 / contain;
  width: 2.25rem;
  height: 2.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

/* 유틸메뉴의 햄버거 메뉴 */
.utils .ham-box {
  /* 박스 크기 안 가운데 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;

  width: 9rem;

  background: #0a2e4d;
}

.utils .ham-box .ham-btn {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  /* 세로로 간격을 주기 위해서는 columns가 필요 */
  flex-direction: column;

  /* 라인의 부모 요소에 크기를 주고, 자식에게 100%를 준다. */
  position: relative;

  width: 2.25rem;
  height: 1.8rem;
}

.utils .ham-box .ham-btn span {
  display: block;
}

.utils .ham-box .ham-btn .line {
  width: 100%;
  height: 1px;

  border-top: 1.5px solid #fff;

  /* 여기서 height와 border-top을 함께 사용한 이유는 기능적으로는 한개만 사용해도 되지만, 디자인적으로는 border로 선을 그리고, height로 높이를 제어하는 방식이 라인을 얇지만 선명하게 만들 수 있어 같이 쓰는 경우가 많다 */
  /* 1. 라인 두께 조절, 2. 레이아윳의 안정성, 3.시각적 대비 강회 */
  background: #fff;
}

/* line의 2번째 요소에게 넓이의 차이를 줘 디자인 적 요소 추가 */
.utils .ham-box .ham-btn .line:nth-of-type(2) {
  width: 80%;
}

/* 퀵메뉴 맵 : fixed로 만들기 -> 왼쪽 끝에 븉게 헤더와 같이 연결되어 있는 듯한 */
.quick_wrap {
  position: fixed;
  /* 오른쪽 끝에 붙임 -> 그리고 top값은 header의 높이에 맞게 */
  top: 8.8rem;
  right: 0;

  /* 100vh에서 헤더 크기 값을 빼줘야 메인 화면 넓이에 다 들어온다. */
  height: calc(100vh - 90px);

  background-color: #0a2e4d;
  z-index: 999;

  /* 자식들이 아래로 내려가게 하기 위해서 columns를 주고, flex-end를 줘서 끝으로 이동하게 함. */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 9rem;

  color: #fff;
}

.quick_wrap .quick_menu {
}

.quick_wrap .quick_menu .box {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  padding: 1.26rem 0.9rem;

  font-size: 1.3rem;

  font-weight: 400;
}

.quick_wrap .quick_menu .box .icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: auto;
  fill: #fff;
}

.quick_wrap .quick_menu .box .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  max-width: 100%;
}

.quick_wrap .quick_menu .box .title {
  position: relative;
  margin-top: 1.3rem;
  white-space: nowrap;

  line-height: 1.7;
}

.quick_wrap .quick_menu .box .title:before {
  content: "";
  position: absolute;

  bottom: -1px;
  left: 50%;
  transform: translate(-50%, 100%);

  display: block;
  width: 0;
  height: 1px;

  border-top: 1.5px solid #9a9ea7;

  transition: width 0.5s;
}

/* 박스 메뉴에 hover시에 생겨야하기 때문에 box뒤에다가 hover를 붙여줬음. */
.quick_wrap .quick_menu .box:hover .title:before {
  width: 100%;
}

.mo_only {
  display: none !important;
}

/* top 버튼 */
.quick_wrap .top-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 9rem;
  height: 9rem;

  cursor: pointer;
  fill: #fff;

  background-color: #65a9df;
}

.quick_wrap .top-btn .icon {
  width: 2.3rem;
  height: 3rem;

  background: url(../img/top-cion.svg) no-repeat 0 0 / contain;
}

/* 검색창 모달 -> 일단 보이지 않게 설정. */
#headerSearch {
  display: none;
}

#main .visual-section {
  width: 100%;
  height: 100vh;

  background: #55f;
}
