@charset 'utf-8';

/* sub container는 header를 뺀 나머지 */
.container {
  margin-top: 9rem;
  font-size: 1.7rem;
  word-break: keep-all;
}

.container .sub-visual {
  width: 100%;
  margin-bottom: 24rem;
  border-bottom: 1px solid #d5d9e3;
}

.container .sub-visual .main-tit-wrap {
  width: 100%;
  text-align: center;
  padding: 4.5rem 0 9rem;
}

/*  */
.in {
  position: relative;
  width: 165.6rem;
  max-width: 100%;

  /*  */
  padding: 0 2rem;
  margin: 0 auto;
}

.container .sub-visual .main-tit-wrap .in .desc {
  font-size: 1.8rem;
  font-weight: 500;
  color: #9ca1ae;
  margin-bottom: 1rem;
}

.container .sub-visual .main-tit-wrap .in .tit {
  font-size: 5.8rem;
  font-weight: 700;
  color: #232323;
}

.sub-tit-wrap .tit {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
}

.medi-info .sect-tit,
.road-map .sect-tit,
.road-way .sect-tit {
  font-size: 3.4rem;
  font-weight: 700;
}

/* 다른 영역 숨기기 -> 일단 보이는 디자인 적용 실시 */
.hide {
  display: none;
}

.sub-tab-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  margin-top: 9rem;
  overflow: hidden;
}

.sub-tab-wrap .sub-tab {
  /* 가상요소를 사용하기 위해서 부모를 지정 */
  position: relative;

  font-size: 2.2rem;
  font-weight: 700;

  border-bottom: 1px solid #9ca1ae;

  padding: 1.8rem 3.4rem;

  /* 최소 크기를 정해줘서 크기를 줌 */
  min-width: 23.4rem;

  cursor: pointer;
  text-align: center;
  color: #9ca1ae;
  transition: color 0.5s;

  white-space: nowrap;
}

/* 가상요소를 사용하여 채워지는 선을 디자인 할건데, 채워지는 선을 만들어 가운데에서 퍼져서 패워지도록 설정  */
.sub-tab-wrap .sub-tab:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;

  transform: translate(-50%, -50%);

  /* active가 들어가기 전 */
  width: 0%;
  height: 1px;

  background-color: #004ea2;

  transition: width 0.5s;
}

.sub-tab-wrap .sub-tab:hover {
  color: #004ea2;
}

.sub-tab-wrap .sub-tab:hover:before {
  width: 100%;
}

.sub-tab-wrap .sub-tab.active:before {
  width: 100%;
}

.sub-tab-wrap .sub-tab.active {
  color: #004ea2;
}

#listView .sub-cont-visual {
  margin-top: 6.4rem;
}

#listView .sub-cont-visual .cont {
  display: flex;

  justify-content: space-between;
}

#listView .sub-cont-visual {
  margin-top: 14.4rem;
}

.sub-cont-visual .sub-tit-wrap {
}

.sub-cont-visual .sub-tit-wrap .txt-box {
  margin-top: 5rem;
}

.sub-cont-visual .sub-tit-wrap .txt-box .txt {
  color: #232323;
}

.sub-cont-visual .img-box {
  /* 이미지 크기 설정 */
  width: 65.2rem;
  height: 43.4rem;
}
.sub-cont-visual .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.medi-info {
  margin-top: 18rem;
}

.medi-info .medi-card-cont {
  margin-top: 5.4rem;
}

.medi-info .medi-tit-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.medi-info .medi-tit-wrap .medi-rese-wrap {
  display: flex;
  align-items: center;
}

.medi-info .medi-tit-wrap .medi-rese-wrap .txt {
  display: flex;
  align-items: center;

  font-size: 2.2rem;
  font-weight: 700;
  color: #004ea2;
}

.medi-info .medi-tit-wrap .medi-rese-wrap .txt:before {
  content: "";
  display: block;
  width: 1.8rem;
  height: 1.8rem;

  background: url(../img/sub-call-icon.svg) no-repeat 0 0 / contain;

  margin-right: 1rem;
}

.medi-info .medi-tit-wrap .medi-rese-wrap .num {
  font-size: 3.4rem;
  font-weight: 700;
  margin-left: 2.1rem;

  color: #232323;
}

.medi-info .medi-card-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.medi-info .medi-card-cont .medi-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 31rem;
  height: 35.6rem;
  background-color: #f2f6fa;
  text-align: center;

  padding: 5.4rem 5rem;
}

.medi-info .medi-card-cont .medi-card .ico {
  width: 5.4rem;
  height: 6.3rem;
}

.medi-info .medi-card-cont .medi-card .ico img {
  width: 100%;
  height: 100%;
}

.medi-info .medi-card-cont .medi-card .badge {
  margin-top: 4.5rem;

  font-weight: 700;

  line-height: 1.9;
  padding: 0 2.1rem;

  border-radius: 5rem;
  color: #fff;
  background-color: #004ea2;
}

.medi-info .medi-card-cont .medi-card .time {
  font-size: 2.7rem;
  font-weight: 700;

  margin-top: 2.7rem;
}

.medi-info .medi-card-cont:nth-child(2) .medi-card .time > p {
  font-size: 1.8rem;
  display: inline-block;
}

.medi-info .medi-card-cont .medi-card > p {
  font-size: 1.4rem;
  font-weight: 400;
}

.road-map {
  margin-top: 18rem;
}

.road-map .uwell-map {
  margin-top: 5rem;
}

.road-map .map-addr {
  margin-top: 3.4rem;
}

.road-map .map-addr p {
  font-size: 3.4rem;
  font-weight: 700;
  color: #232323;
}

.road-map .sns-map-wrap {
  margin-top: 4.5rem;
  display: flex;
  align-items: center;
}

.road-map .sns-map-wrap a {
  width: 13rem;
  height: 4rem;
  border: 1px solid #000;
  border-radius: 2.8rem;

  font-size: 1.4rem;
  font-weight: 400;
  color: #232323;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.4s, color 0.4s;
}

.road-map .sns-map-wrap a:hover {
  background-color: #232323;
  color: #fff;
}

.road-map .sns-map-wrap a + a {
  margin-left: 1rem;
}

.road-map .sns-map-wrap a.kakao-map:before {
  content: "";
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  background: url(../img/map_btn_ico01.svg) no-repeat 0 0 / contain;
}

.road-map .sns-map-wrap a.naver-map:before {
  content: "";
  margin-right: 1rem;
  width: 1.4rem;
  height: 2.1rem;
  background: url(../img/map_btn_ico02.svg) no-repeat 0 0 / contain;
}

.road-map .sns-map-wrap a.google-map:before {
  content: "";
  margin-right: 1rem;
  width: 1.4rem;
  height: 2.1rem;
  background: url(../img/map_btn_ico03.png) no-repeat 0 0 / contain;
}

.road-map .sns-map-wrap a.naver-talk:before {
  content: "";
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  background: url(../img/map_btn_ico04.png) no-repeat 0 0 / contain;
}

.road-way {
  margin-top: 23.4rem;
}

.road-way .way-wrap {
  margin-top: 4.5rem;
}

.road-way .way-wrap .cont {
  display: flex;
  justify-content: space-between;
}

.road-way .way-wrap .cont .box {
}

.road-way .way-wrap .cont .box .road-badge {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 9.9rem;
  height: 9.9rem;
  background-color: #ebf4f7;
  border-radius: 50%;
}

.road-way .way-wrap .cont .box .road-badge .ico-box .ico {
  width: 3.1rem;
  height: 2.8rem;
}

.road-way .way-wrap .cont .box .road-badge .ico-box .ico img {
  width: 100%;
  height: 100%;
  overflow: cover;
}

.road-way .way-wrap .cont .box .road-badge .desc {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;

  color: #004ea2;

  margin-top: 0.7rem;
}

.road-way .way-wrap .cont .box .txt-box {
  margin-top: 2.3rem;
  color: #232323;
}
.road-way .way-wrap .cont .box .txt-box .tit {
  font-size: 1.8rem;
  font-weight: 700;
}

.road-way .way-wrap .cont .box .txt-box .txt {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 1rem;
}

.road-way .way-wrap .cont .subway .badge-wrap {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.road-way .way-wrap .cont .badge {
  padding: 0.4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;

  border-radius: 2.8rem;
}

.road-way .way-wrap .cont .subway .badge-wrap .badge + .badge {
  margin-left: 0.7rem;
}

.road-way .way-wrap .cont .subway .badge-wrap .badge.green {
  background-color: #33a23d;
}

.road-way .way-wrap .cont .subway .badge-wrap .badge.red {
  background-color: #db2b2b;
}

.road-way .way-wrap .cont .bus {
  width: 33%;
}

.road-way .way-wrap .cont .bus .badge-wrap {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
}
.road-way .way-wrap .cont .bus .badge-wrap .badge-box {
}

.road-way .way-wrap .cont .bus .badge {
  display: inline-flex;
  background-color: #2552c9;
}

.road-way .way-wrap .cont .badge-desc {
  font-size: 1.4rem;
  font-weight: 400;
  color: #232323;

  margin-left: 1.1rem;
}

.road-way .way-wrap .cont .bus .badge.red {
  background-color: #db2b2b;
}

.village-bus {
  margin-top: 2.2rem;
}

.village-bus .village-desc {
  font-size: 1.7rem;
  font-weight: 700;
  color: #232323;
}

.village-bus .badge-box {
  display: flex;
  margin-top: 1rem;
}

.road-way .way-wrap .cont .village-bus .badge.green {
  background-color: #33a23d;
}

/* form 태그 section */
.counsel-section {
  margin-top: 23.4rem;
  color: #fff;
  background-color: #2b2b29;
  padding: 5.4rem 0;
}

/* 여기 박스에 flex는 전체 박스를 정렬하기 위한 용. */
/* 전체 상담 영역의 부분을 화면 가운데에 위치시키는 정렬 기능 */
.counsel-section .section-inner .counsel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container안에 .cont는 안쪽 요소 배치를 담당. */
/* 크기(width : 90% )를 준 이유는 좌우 여백을 만들어, 너무 꽉 차 보이지 않게 하기 위해서 */
/* 부모(.counsel-container) 구조를 보면 안에 .cont는 가운데에 위차하고 있는데, .cont에 가로가 100%를 차지하면 화면 가득 찬 느낌을 준다. */
.counsel-section .section-inner .counsel-container .cont {
  display: flex;
  flex-direction: column;

  /* 여기서 width를 주지 않으면 부모의 flex 항목의 기본 동작으로 인해서 .cont의 너비는 기본적으로 콘텐츠 기분(auto)로 계산되어 줄어들고, */
  /* 부모의 상황에 따라 flex-shrink : 1 때문에 필요 시 더 줄어들 수 있다. */
  width: 90%;
  align-items: flex-start;
  justify-content: space-between;
}

.counsel-section .section-inner .tit {
  font-size: 2.5rem;
  font-weight: 700;
}

.counsel-section #quickFrm .form-wrap {
  margin-top: 1.8rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) max-content;
  justify-content: flex-end;

  gap: 2rem 3rem;
}

.counsel-section #quickFrm .form-wrap .form-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sub .counsel-section #quickFrm .form-wrap .form-box .inp {
  flex: 1;
}

.counsel-section #quickFrm .form-wrap .form-box .inp {
  min-width: 21rem;

  border-bottom: 2px solid #fff;
}

.counsel-section #quickFrm .form-wrap .form-box .inp + .inp {
  margin-left: 2.7rem;
}

.counsel-section #quickFrm .form-wrap .form-box .inp input {
  width: 100%;
  height: 100%;

  background-color: transparent;
  font-size: 1.7rem;
  font-weight: 500;
}

.counsel-section #quickFrm .form-wrap .form-box .sel-box {
  min-width: 21rem;
  margin-left: 2.7rem;

  border-bottom: 2px solid #fff;
}

.counsel-section #quickFrm .form-wrap .form-box .sel-box .nice-select {
}

.counsel-section #quickFrm .form-wrap .form-box .sel-box .nice-select .list {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  display: none;
}

.counsel-section #quickFrm .form-wrap .btn-wrap {
  display: flex;
}

.counsel-section #quickFrm .form-wrap .btn-wrap button {
  padding: 1.6rem 5.2rem;
  background-color: #fff;
  border-radius: 5.4rem;

  font-size: 1.7rem;
  font-weight: 700;
  color: #2b2b29;

  transition: background-color 0.4s, color 0.4s;
}

.counsel-section #quickFrm .form-wrap .btn-wrap button:hover {
  background-color: #65a9df;
  color: #fff;
}

.counsel-section #quickFrm .form-wrap .agree-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  vertical-align: middle;
}

.counsel-section #quickFrm .form-wrap .agree-box .check-box {
  display: flex;
  align-items: center;
}

/* input을 숨기는 방법 1 */
.counsel-section #quickFrm .form-wrap .agree-box .check-box input {
  display: none;
}

/* input을 숨기는 방법 2 - 시각적 숨김(clip/position) */
/* 두가지 방법을 함께 사용한 이유는 중복되게 하려고 한 것 같음. input에 크기를 없애기 위해서. */

/* reset.css에 들어갈 수 있는 CSS */
input[type="checkbox"] {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

/* agree-box에 align-item : center가 틀어지는 이유는 */
/* 1. label 내부에 block요소 (p, div)가 있고, 기본 margin이 있어서 높이가 늘어난 경우*/
/* align-item : center를 지우면 가운데 정렬이 되어보이는데, 이건 문제가 있는 것으로 보임 */
/* align-item를 지우지 않고, 레이블과 내부 요소들의 마진/패딩을 정리하여 맞추는 것이 올바른 접근이다. */
.counsel-section #quickFrm .form-wrap .agree-box .check-box label {
  display: flex;
  align-items: center;
  justify-content: center;

  /* label에 패딩을 주는 이유는 클릭 요소를 더 넓게 가져가기 위함.  */
  padding: 0.56rem 1.12rem;
  cursor: pointer;
  transition: opacity 0.3s;

  fill: #fff;
  color: #fff;
}

.counsel-section #quickFrm .form-wrap .agree-box .check-box label .icon {
  width: 1.6rem;
  height: 1.6rem;

  background: url(../img/check-icon.svg) no-repeat 0 0 / contain;
  margin-right: 0.4rem;
}

.counsel-section #quickFrm .form-wrap .agree-box .check-box label .txt {
  font-size: 1.4rem;
  font-weight: 400;
}

.counsel-section #quickFrm .form-wrap .agree-box .agree-btn-wrap {
  margin-left: 1.1rem;
}

.counsel-section #quickFrm .form-wrap .agree-box .agree-btn-wrap button {
  font-size: 1.4rem;
  font-weight: 400;

  /* top은 디자인 적으로 가운데 정렬이 되게 보이도록 설정한 것 같음. */
  /* 정상적인 해결보다는 시각적으로 맞춰 보려고 한 것 같음. */
  /* 체크박스 label은 padding이 있어 더 높게 보임 */
  /* 버튼은 padding이 거의 없어서 시각적으로 약간 아래로 보임*/
  /* align-item : center로도 딱 맞지 않음 -> 폰트 렌더링, line-height , padding의 차이가 있을 수 있음 */
  /* 실무에서 최후의 수단으로 비주얼 보정값으로 쓰는 방식. */

  /* 비주얼 보정값을 쓸 수 밖에 없는 상황 */
  /* 시스템 폰트(브라우저 기본 폰트)로 인해 baseline이 맞지 않을 떄  */
  /* SVG 아이콘의 실제 렌더링 영역이 이론적인 height와 불일치할 때  */
  /* 폰트에 따라 ascender/descender 비율이 달라서 텍스트가 균일하게 가운데에 오지 않을 떄 */
  /* flex로 정렬해도 요소 간 padding 구조가 달라서 "보기에" 안맞는 경우 */
  position: relative;
  top: -2.3px;

  border-bottom: 1px solid #fff;
}

/* 서브 섹션 inner */
.sub .section-inner {
  /* 반응형 CSS */
  width: clamp(1240px, 70vw, 147.6rem);
}
